#!/bin/bash

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

export PATH=$PATH:$HOME/.local/bin
setxkbmap us ,mode "default" -option ctrl:nocaps
setupMonitorsNormal.sh
